<div class="firstContainer">
    <div class="container" style="padding:160px;">
        <h2>Hello My Name Is</h2> <span class="danger">Rohit Borse</span>
        <div class="d-flex">
            <h3>I Am &nbsp;</h3> <h3 class="typing">Web Designer</h3>
        </div>
    </div>
        <button class="btn btn-secondary">Download CV</button>
</div>
<div id="aboutContainer" class="aboutContainer my-4 ">
    <div class="container mt-4 card" style="padding: 50px; width: 90%; /*background-color:rgb(229, 229, 232);*/">
        <div class="d-flex">
            <div class="aboutme">
                <div class="d-flex ">
                    <div style="width:5=30%; padding:10px;" class="mx-4">
                        <img src="../static/img/my photo.jpg" width="200" height="200" alt="Fissure in Sandstone" />
                    </div>
                    <div style="width:70%;" class="">
                        <b>Name :</b>
                        <p>Rohit Harishchandra Borse</p>
                        <b>Profile :</b>
                        <p>Full-Stack Developer</p>
                        <b>Email</b>
                        <p>codingwithrb@gmail.com</p>
                    </div>
                </div>
                <div class="skill container my-4">
                    <h4>Skills </h4>
                    <div class="d-flex mt-3">
                        <h5 class="mx-2"><span class="badge badge-primary p-2">HTML 5</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">CSS 3</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">JavaScript</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">BootStrap</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">React Js</span></h5>
                    </div>
                    <div class="d-flex mt-2">
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Node Js</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Express</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Python</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Flask</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Mongo Db</span></h5>
                    </div>
                    <div class="d-flex mt-2">
                        <h5 class="mx-2"><span class="badge badge-primary p-2">My Sql</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Git/GitHub</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">SEO</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">CI/CD</span></h5>
                        <h5 class="mx-2"><span class="badge badge-primary p-2">Soft Skills</span></h5>
                    </div>
                </div>
            </div>
            <div class="aboutme" style="padding: 20px;">
                <h2>About Me</h2>
                <p> Full stack developers are computer programmers who are proficient in both front and back end coding.
                    Their primary responsibilities include designing user interactions on websites, developing servers,
                    and
                    databases for website functionality, and coding for mobile platforms.</p>
            </div>
        </div>
    </div>
</div>

<div class="specil mt-4 " id="specilized">
    <div class="container mt-4 " style="padding: 50px; width: 100%; /*background-color:rgb(229, 229, 232);*/">
        <h1 class="text-center my-4">Specialized In</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 ">
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/user-experience.png" class="center" alt="Hollywood Sign on The Hill"
                        width="100" height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Web Design</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/web-design.png" class="center" alt="Hollywood Sign on The Hill" width="100"
                        height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Frontend Development</h5>
                        <p class="card-text">This is a short card.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/backend.png" class="center" alt="Hollywood Sign on The Hill" width="100"
                        height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Backend Development</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/blockchain.png" class="center" alt="Hollywood Sign on The Hill" width="100"
                        height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Blockchain Engineer</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/cloud-network.png" class="center" alt="Hollywood Sign on The Hill"
                        width="100" height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Cloud Engineer</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <img src="../static/img/responsive-design.png" class="center" alt="Hollywood Sign on The Hill"
                        width="100" height="100" />
                    <div class="card-body">
                        <h5 class="card-title">Responsive Design</h5>
                        <p class="card-text">
                            This is a longer card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects container" id="project">
    <h1 class="text-center mt-4">My Projects</h1>
    <div class="container" style="padding: 40px;">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="../static/img/newsapp.png" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">News Website</h5><a
                                href="https://github.com/Rbcoder1/News-App-in-React-Js.git"><i
                                    class="fas fa-code"></i></a>
                        </div>
                        <span class="badge rounded-pill badge-primary">javascript</span>
                        <span class="badge rounded-pill badge-primary">Bootstrap</span>
                        <span class="badge rounded-pill badge-danger">React Js</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/img/ecommerse.png" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Static Ecommerce Website</h5><a
                                href="https://github.com/Rbcoder1/Ecommer_website.git"><i class="fas fa-code"></i></a>
                        </div>
                        <span class="badge rounded-pill badge-primary">javascript</span>
                        <span class="badge rounded-pill badge-primary">HTML</span>
                        <span class="badge rounded-pill badge-primary">Css</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/img/portfolio.png" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Personal Portfolio</h5><a
                                href="https://github.com/Rbcoder1/Portfolio-Flask_python.git"><i
                                    class="fas fa-code"></i></a>
                        </div>
                        <span class="badge rounded-pill badge-primary">javascript</span>
                        <span class="badge rounded-pill badge-primary">Bootstrap</span>
                        <span class="badge rounded-pill badge-danger">Flask</span>
                        <span class="badge rounded-pill badge-danger">MySQL</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="../static/img/tex.png" class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h5 class="card-title">Text-Editor</h5><a
                                href="https://github.com/Rbcoder1/TextEditor-React.git"><i class="fas fa-code"></i></a>
                        </div>
                        <span class="badge rounded-pill badge-danger">React Js</span>
                        <span class="badge rounded-pill badge-primary">Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>